* {
  margin: 0;
  padding: 0;
}
body {
  background-color: rgb(1, 1, 24);
  color: white;
  /* font-family: 'Italianno', cursive; */
  font-family: "Poppins", sans-serif;
}
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(12, 12, 35);
}
nav ul {
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
nav ul li {
  margin: 0px 25px;
  list-style: none;
}
nav ul li a {
  text-decoration: none;
  color: white;
}
nav ul li a:hover {
  color: rgb(107, 107, 109);
  font-size: 1.02rem;
}
.btn button {
  padding: 10px;
  font-size: 1.02rem;
  cursor: pointer;
  background-color: transparent;
  color: white;
  border-radius: 15px;
  border: 2px solid white;
}
.left {
  font-size: 1.5rem;
}
.firstsection {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 100px 50px;
}
.firstsection > div {
  width: 40%;
}
.left-section {
  font-size: 2.5rem;
}
.right-section img {
  width: 80%;
  margin: 5px;
}
.purple {
  color: rgb(170, 107, 228);
}
main hr {
  border: 0;
  background-color: #9c97f1;
  height: 2px;
  margin: 40px 84px;
}
#element {
  color: rgb(170, 107, 228);
}
.secondsection {
  max-width: 80vw;
  margin: auto;
  height: 80vh;
}
.secondsection h1 {
  font-size: 1.5rem;
}
.secondsection .grey-text {
  color: grey;
}
.secondsection .box {
  background: white;
  width: 80vw;
  height: 2px;
  margin: 54px 0;
  display: flex;
}
.secondsection .vertical {
  height: 95px;
  width: 1px;
  background-color: white;
  margin: 0 100px;
}
.top-img {
  width: 25px;
  border-radius: 10px;
  position: relative;
  top: -25px;
  left: -10px;
}
.vertical-text {
  position: relative;
  top: 75px;
  width: 150px;
}
.vertical-desc {
  position: relative;
  top: 120px;
  color: grey;
  width: 150px;
  font-size: 12px;
}
.footer-content {
  display: flex;
  justify-content: space-evenly;
}
.second-footer ul {
  list-style: none;
}
.hr1 {
  border: 0;
  background-color: #9c97f1;
  height: 2px;
  margin: 40px 84px;
}
footer h4{
  color: grey;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.vertical-desc span.span-text{
    color: red;
}
.vertical-desc span.span-text2{
    color: green;
}